.fiesta {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fiesta_title {
    color: var(--secondary-color);
}
.fiesta_subtitle {
    color: var(--primary-color);
}

.fiesta_section_btn {
    margin-top: 2rem;
}

/* Animaciones */

.fiesta_animate .header_emojis {
    animation: bounceIn 2s forwards;
}

.fiesta_animate .fiesta_title {
    animation: bounceIn 2s forwards;
}

.fiesta_animate .fiesta_subtitle {
    animation: fadeInLeft 2s forwards;
}

.fiesta_animate .fiesta_section_btn {
    animation: fadeIn 2s forwards;
}