:root {
    --primary-color: #ad1387;
    --secondary-color: #2e1f72;
    --tertiary-color: #fff;
}

@keyframes customSwing {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes customFadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.75; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@font-face {
    font-family: 'Dancing Script';
    src: url('./assets/fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin : 0;
}

.header_emojis {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.section_padding {
    padding: 2rem;
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.section_content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.section_btn {
    align-items: center;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.section_btn .icon {
    margin-right: 1rem;
}

.section_btn_secondary {
    background-color: var(--primary-color);
}

html {
    scroll-snap-type: y mandatory;
}

.portada, .fecha, .mensaje_invitado, .misa, .fiesta, .tenida, .asistencia {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}