.asistencia {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.asistencia_title {
    color: var(--secondary-color);
}
.asistencia_subtitle {
    color: var(--primary-color);
}

.asistencia_section_btn {
    margin-top: 2rem;
}

/* Animaciones */

.asistencia_animate .header_emojis {
    animation: bounceIn 2s forwards;
}

.asistencia_animate .asistencia_title {
    animation: bounceIn 2s forwards;
}

.asistencia_animate .asistencia_subtitle {
    animation: fadeInLeft 2s forwards;
}

.asistencia_animate .asistencia_section_btn {
    animation: fadeIn 2s forwards;
}